<ul class="breadcrumb lead">
  <li><%= link_to "Contracts", world_contract_path(world_id: contract.world_id) %><span class="divider">/</span></li>
  <li class="active">Edit</li>
</ul>

<%= render 'form' %>
