<ul class="breadcrumb lead">
  <li><%= link_to "Contract Templates", world_contract_templates_path(world_id: contract_template.world_id) %><span class="divider">/</span></li>
  <li class="active">Edit</li>
</ul>

<%= render 'form' %>
