<ul class="breadcrumb lead">
  <li class="active">Logging Equipment Templates<span class="divider"></li>
</ul>

<div class="well">
  <%= link_to "New", new_logging_equipment_template_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <th>name</th>
  </thead>
  <tbody>
  <%- logging_equipment_templates.all.each do |template| %>
    <tr>
      <td><%= link_to template.name, edit_logging_equipment_template_path(template) %></td>
      <td><%= link_to 'create item', new_logging_equipment_path(logging_equipment_template_id: template.id) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
