<ul class="breadcrumb lead">
  <li><%= link_to "Logging Equipment Templates", logging_equipment_templates_path %><span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<%= render 'form' %>
