# You must use a local username for the project.  If you can create custom
# users in postgresql, create the "trailsforward" user with database create
# permissions.  Otherwise, set the username to your system username

defaults: &DEFAULTS
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: trailsforward
  password:

development:
  <<: *DEFAULTS
  database: trails_forward_development

test: &TEST
  <<: *DEFAULTS
  database: trails_forward_test

cucumber:
  <<: *TEST
