<ul class="breadcrumb lead">
  <li><%= link_to "Non Player Characters", world_non_player_character_path(world_id: non_player_character.world.id) %><span class="divider">/</span></li>
  <li class="active">Edit</li>
</ul>

<%= render 'form' %>
