<ul class="breadcrumb lead">
  <li><%= link_to "Non-Player Characters", world_non_player_characters_path(world.id) %><span class="divider">/</span></li>
  <li class="active">New</li>
</ul>

<%= render 'form' %>
